<% content_for :body do %>
  <ul id="photo_albums">
    <% @photo_albums.each do |photo_album| %>
      <li>
        <%= link_to photo_album.title, refinery.photo_albums_photo_album_path(photo_album) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
