<% content_for :body_content_title do %>
  <%= @photo_album.title %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @photo_album.title %>
    </p>
  </section>
  <section>
    <h1>Description</h1>
    <p>
      <%=raw @photo_album.description %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="photo_albums">
      <% @photo_albums.each do |photo_album| %>
        <li>
          <%= link_to photo_album.title, refinery.photo_albums_photo_album_path(photo_album) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
