<ul>
  <% if ::Refinery::PhotoAlbums::Admin::PhotoAlbumsController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.photo_albums_admin_photo_albums_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_photo_albums_admin_photo_album_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::PhotoAlbums::Admin::PhotoAlbumsController.sortable? && ::Refinery::PhotoAlbums::PhotoAlbum.any? %>
  <li>
    <%= link_to t('.reorder', :what => "Photo Albums"),
                 refinery.photo_albums_admin_photo_albums_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Photo Albums"),
                 refinery.photo_albums_admin_photo_albums_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
