<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(photo_album) -%>">
  <span class='title'>
    <%= link_to "#{photo_album.title}", refinery.photo_albums_admin_photo_album_all_image_path(:photo_album_id => photo_album.id) %>
  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_go.png"), refinery.photo_albums_photo_album_path(photo_album),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_photo_albums_admin_photo_album_path(photo_album),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.photo_albums_admin_photo_album_path(photo_album),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => photo_album.title),
        :method => :delete %>
    <%= link_to refinery_icon_tag("gallery-icon.png"), refinery.photo_albums_admin_photo_album_add_image_path(photo_album),
        :title => t('.add_images') %>

  </span>
</li>
