<ul id='sortable_list'>
  <%= render :partial => 'photo_album', :collection => @photo_albums %>
</ul>
<%= render '/refinery/admin/sortable_list',
            :continue_reordering => (local_assigns.keys.include?(:continue_reordering)) ? continue_reordering : true %>
