<%= form_tag(refinery.photo_albums_admin_photo_album_save_image_path(:photo_album_id => @photo_album.id), :multipart => true, :method => :post) do |f| -%>

  <div class='field'>
    <%= label_tag "Add Image" -%>
    <%= file_field_tag "image_image", :name=> "image[image][]", :multiple => "multiple" -%>
  </div>
  <%= submit_tag "Submit" %>
<% end -%>
