<section id='records'>
<h1><%= @photo_album.title %></h1>
<div class='pagination_container'>
  <% if @images.any? %>
    <ul id="image_grid" class="<%= ['clearfix', 'pagination_frame', pagination_css_class].compact.join(' ') %>">
      <% @images.each_with_index do |image, index| -%>
        <li id="image_<%= image.id %>" class='image_<%= index % 5 %>'>
          <%= image_fu image, '135x135#c', :title => image.title %>
          <span class='actions'>
            <%= link_to refinery_icon_tag('eye.png'), image.url,
                        :target => "_blank",
                        :title => t('refinery.admin.images.grid_view.view_live_html') %>
            <%= link_to refinery_icon_tag('delete.png'),
                        refinery.photo_albums_admin_photo_album_destroy_image_path(@photo_album.id, image.id),
                        :class => "cancel confirm-delete",
                        :title => t('delete', :scope => 'refinery.admin.images'),
                        :data => {
                          :confirm => t('message', :scope => 'refinery.admin.delete', :title => image.title)
                        },
                        :method => :delete %>
          </span>
        </li>
      <% end -%>
    </ul>
  <% else %>
    <p>
      <% unless searching? %>
        <strong>
          <%= t('.no_images_yet') %>
        </strong>
      <% else %>
        <%= t('no_results', :scope => 'refinery.admin.search') %>
      <% end %>
    </p>
  <% end %>
  </div>

</section>

<section id='actions'>
  <ul>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.admin_images_path %>
    </li>
    <li>
      <%= link_to t('refinery.admin.images.actions.create_new_image'), refinery.photo_albums_admin_photo_album_add_image_path(:photo_album_id => @photo_album.id), :class => "add_icon" %>
    </li>
  </ul>
</section>
